<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @space_cat.name %>
</p>

<p>
  <b>String:</b>
  <%= @space_cat.string %>
</p>

<p>
  <b>Planets visited:</b>
  <%= @space_cat.planets_visited %>
</p>

<p>
  <b>Integer:</b>
  <%= @space_cat.integer %>
</p>

<p>
  <b>Planet:</b>
  <%= @space_cat.planet %>
</p>

<p>
  <b>String:</b>
  <%= @space_cat.string %>
</p>


<%= link_to 'Edit', edit_space_cat_path(@space_cat) %> |
<%= link_to 'Back', space_cats_path %>
